* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  background-color: #E5F3F2;
  font-family: 'Roboto Slab';
  margin-bottom: 10px;
  padding: 10px;
}

h1 {
  color: #6D6E71;
  text-align: center;
  padding-bottom: 1rem;
}

.title-input, 
.body-input, 
.save-button,
.search-input {
  margin-right: auto;
  margin-left: auto;
  display: block;
  margin-bottom: 2rem;
  width: 44%;
  height: 3rem;
  font-size: 1.2em;
  padding: .5em;
  border: 2px solid #939598;
}

.title-input::placeholder, 
.body-input::placeholder,
.search-input::placeholder {
  color: #939598;
  font-weight: 700;
}

.search-input {
  margin-top: 1em;
}

.save-button {
  background-color: #00A79D;
  color: #FFFFFF;

}

.idea-title-color {
  color: #00A79D;
}

.js-single-idea-container {
  width: 44%;
  margin-left: auto;
  margin-right: auto;
}

.js-user-title-container {
  display: inline-block;
/*  justify-content: space-between;
*/}

.js-user-body-container {
  display: flex;
}

.js-up-vote-button {
  background-image:url(Images/upvote.svg);
  border-style: none;
  height:2rem;
  width: 2rem;
}

.js-down-vote-button {
  background-image: url(Images/downvote.svg);
  height:2rem;
  width:2rem;
  border-style: none;
}

.js-delete-button {
  background-image: url(Images/delete.svg);
  height: 2rem;
  width: 2rem;
  border-style: none;
  display: inline-block;

}

.js-quality {
  display: block;
}

